In [1]:
import pandas as pd
import re

# collect data
df2 = pd.read_csv("C:/Users/milon/Downloads/ml6.xlsx")

# root data
df1 = pd.read_excel("C:/Users/milon/Downloads/ml7.xlsx")

In [2]:
data_2 = df2["ID"]
data_2 = sorted(data_2)

data_1 = df1["ID"].tolist()

type(data_1)

# j=0
# k=0
# i=0

# for i in range(67):
#     for k in range(67):
#         if data1[i]==ab[k]:
#             print(i," 1")
#             break
#         else:
#             continue
            
#         k=k+1

list

In [3]:
print(type(data_2))
print(type(data_1))

data_2[:]

<class 'list'>
<class 'list'>

['0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '15CSE020',
 '15CSE022',
 '15CSE023',
 '15CSE030',
 '15CSE044',
 '16CSE004',
 '16CSE005',
 '16CSE008',
 '16CSE010',
 '16CSE011',
 '16CSE012',
 '16CSE014',
 '16CSE020 ',
 '16CSE022',
 '16CSE023',
 '16CSE027',
 '16CSE028',
 '16CSE029',
 '16CSE031 ',
 '16CSE032',
 '16CSE034',
 '16CSE035 ',
 '16CSE037',
 '16CSE038',
 '16CSE039',
 '16CSE041',
 '16CSE046',
 '16CSE047',
 '16CSE048',
 '16CSE049',
 '16CSE050 ',
 '16CSE051',
 '16CSE052',
 '16CSE053 ',
 '16CSE056',
 '16CSE057',
 '16CSE059',
 '16CSE062',
 '16CSE065',
 '16CSE066',
 '16CSE068',
 '16CSE070']

In [4]:
# # Using map function
# data_2 = map(lambda x:x.lower(), data_2[:])

In [7]:
i = 0
x= False
count = 0
for i in range(66):
    for k in range(66):
        if data_1[i] == data_2[k]:
            x = True #             print(data_1[i],"    1")
            count = count + 1
            break
        else:
            x = False
    if(x == True):
        print( data_1[i], "    1")
    else:
        print(data_1[i], "    0")
   # print(i," 0")
print(count)

16CSE001     0
16CSE002     0
16CSE003     0
16CSE004     1
16CSE005     1
16CSE006     0
16CSE008     1
16CSE010     1
16CSE011     1
16CSE012     1
16CSE014     1
16CSE016     0
16CSE018     0
16CSE019     0
16CSE020     0
16CSE021     0
16CSE022     1
16CSE023     1
16CSE024     0
16CSE025     0
16CSE026     0
16CSE027     1
16CSE028     1
16CSE029     1
16CSE030     0
16CSE031     0
16CSE032     1
16CSE034     1
16CSE035     0
16CSE036     0
16CSE037     1
16CSE038     1
16CSE039     1
16CSE040     0
16CSE041     1
16CSE044     0
16CSE046     1
16CSE047     1
16CSE048     1
16CSE049     1
16CSE050     0
16CSE051     1
16CSE052     1
16CSE053     0
16CSE054     0
16CSE056     1
16CSE057     1
16CSE058     0
16CSE059     1
16CSE060     0
16CSE061     0
16CSE062     1
16CSE063     0
16CSE065     1
16CSE066     1
16CSE068     1
16CSE070     1
16CSE071     0
15CSE020     1
15CSE022     1
15CSE023     1
15CSE030     1
15CSE044     1
15CSE050     0
20151101015     0
20141201049     0
37